@charset "UTF-8";

:root {
	--main--color: 254, 227, 4;
	--main-second--color: 62, 54, 77;
	--Raisin--Black: #262730;
	--Raisin--Black--Dark: #1E212B;
	--Gunmetal: #30343F;
	--sin: 0.2419218956;


}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	color: #212229;
	background-color: #5f5f5f;
}

a {
	color: #212229;
	text-decoration: none;
}

.slider {
	/* height: 100vh; */
	position: relative;
	background: white;
}

main {
	position: relative;
	z-index: 1;
}

header {

	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: white;
}

header.scroll {
	border-bottom: 1px solid #e4e4e4;
	background-color: #ffffffc9;
	backdrop-filter: blur(20px);
}

.header-top {

	background-color: #f09100;
}

.ht-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-right: -24px;
}

.ht-wrapper .flags {
	background-color: #ffffff59;
	padding: 6px;
}

header .nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

header .flags {
	display: flex;
	gap: 6px;
}

header .flags img {
	height: 24px;
	width: auto;
	width: 36px;
	object-fit: cover;
}

header .pageinner {

	box-shadow: 0 3px 0px #f09100, 0 0 8px #0000003b;
	transition: all ease-in-out .2s;
	padding-top: 0;
	padding-bottom: 0;
}

header.fixed .pageinner {
	padding: 20px 0px;
	position: relative;
}






.row-border {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

.row-border>*:is(:nth-child(1), :nth-child(2), :nth-child(4), :nth-child(5)) {
	border-right: 1px solid #e4e4e4;

}

.row-border>*:is(:nth-child(1), :nth-child(2), :nth-child(3)) {
	border-bottom: 1px solid #e4e4e4;

}

a.logo {
	display: flex;
	height: 100%;
	align-items: center;

}

.h_nav {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: end;
}

.h_nav>li {

	display: block;
}

.h_nav li:hover>a {
	position: relative;
	display: block;
	background-color: #f09100;
	color: white;
}

.h_nav > li > a {
	display: block;
	font-size: 15px;
	font-weight: 500;
	padding: 0 16px;
	line-height: 66px;
}

.sub-wrapper {
	position: absolute;
	padding: 0 10px 10px 10px;
	overflow: hidden;
	visibility: collapse;
	left: 0;
	width: 100vw;





}

.sub-menu {
	/* position: absolute; */
	padding: 0;
	margin: 0;
	background: white;
	border-top: 1px solid #e4e4e4;

	background-color: #ffffffc9;
	backdrop-filter: blur(20px);
	transform: translateY(-100%);
	opacity: 0;
	transition: all ease-in-out .2s;
}

.sub-wrapper .list-table {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	padding: 32px 0;
}

.sub-wrapper .list-table .item-cat {
	display: block;
	flex: 1 0 auto;
}

.sub-wrapper .list-table .item-cat h3 {
	display: block;
	font-size: 19px;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 4px;
	margin-bottom: 16px;
	color: #f09100;
}

.sub-wrapper .list-table .item-cat .item-row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	flex-direction: column;
}

.sub-wrapper .list-table .item-cat .item-row .item-col {
	display: block;
	/* max-width: 140px; */
	/* aspect-ratio: 1; */
	flex: 1 0 auto;
	width: 100%;
}

.sub-wrapper .list-table .item-cat .item-row .item-col a {
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	/* width: 100%; */
	height: 100%;
	/* text-align: center; */
	/* padding: 20px; */
	/* background: #ffffff63; */
	border-radius: 12px;
	/* outline: 1px solid #e4e4e4; */
	/* box-shadow: 0 0 10px #00000014; */
}

.sub-wrapper .list-table .item-cat .item-row .item-col span {
	display: block;
	bottom: 0;
	margin-top: 8px;
	font-size: 12px;
	font-weight: 400;
}

.sub-wrapper .list-table .item-cat .item-row .item-col img {
	width: 75px;
	display: block;
	margin: auto;
	height: 75px;
	object-fit: contain;
}


.sub-menu li {
	display: block;


}

.sub-menu li a {
	display: block;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 24px;
}

.sub-menu li+li {
	border-top: 1px solid #e6e6e6;
}

.h_nav li:hover .sub-wrapper {
	visibility: visible;
}

.h_nav li:hover .sub-wrapper .sub-menu {
	transform: translateY(0%);
	opacity: 1;

}


.bg-grad {

	background: linear-gradient(to bottom, rgba(228, 228, 228, 0.86) 0%, rgba(228, 228, 228, 1) 100%);
}

.product-sect {
	position: relative;

	background-color: white;

}

.mb-120 {
	margin-bottom: 120px;
}

.mt-120 {
	margin-top: 120px;
}

main section {
	padding-bottom: 120px;
}

.product-sect .container {
	z-index: 1;

}

.services {
	background: #e3e3e3;
}

.product-sect .mask_back {
	position: absolute;
	top: 0;
	left: 0;
	/* background-image: url(../images/back1.png); */
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
	background: white;
	display: flex;
	flex-wrap: nowrap;
}

.product-sect .mask_back>* {
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	background-image: url(../images/back1.png);
	width: 50%;
	height: 100%;
	/* z-index: 0; */
	opacity: 0.2;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: left;
}

.product-sect .mask_back .b__left {
	/* content: ""; */
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	background-image: url(../images/back1.png);
	/* width: 100%; */
	/* height: 100%; */
	/* z-index: 0; */
	/* opacity: 0.3; */
	/* background-size: contain; */
	/* background-repeat: no-repeat; */
}

.product-sect .mask_back .b__right {
	/* content: ""; */
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	background-image: url(../images/back1.png);
	/* width: 100%; */
	/* height: 100%; */
	/* z-index: 0; */
	/* opacity: 0.3; */
	/* background-size: contain; */
	/* background-repeat: no-repeat; */
	/* transform: rotateZ; */
	/* background-size: contain; */
	transform: rotateZ(180deg);
}



.references .titleStyles h2 {
	color: #2d2c2a;
}

.product-sect .titleStyles span::after {

	background-color: #f4b453;
}

.bg-w {
	background-color: white;
}

.bg-3 {
	background-color: #f6f6f6;
}

.bg-3 {
	background: linear-gradient(to bottom, rgb(246, 246, 246) 0%, rgb(239, 239, 239) 100%);
}


.bg-3 .titleStyles h2 {

	color: #e4e4e4;

}

.bg-3 .titleStyles span::after {

	background-color: #4f4f4f;
}

.bg-1 {
	background-color: #f4f4f4;
}

.bg-2 {
	background-color: #e4e4e4;
}



.pageinner {
	position: relative;
	padding-bottom: 3rem;
}

.t-swiper {
	/* height: 500px; */
	/* max-width: 1300px; */
	/* padding: 70px 0; */
	padding-top: 66px;
}


.t-swiper .swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
	/* display: block; */

	
	display: flex;
	justify-content: unset;
	align-items: end;
	
}

.sw_thumbContainer_wrapper {
	width: 100%;
	display: flex;
	justify-content: center;

	/* padding-bottom: 10px; */
	flex: 0 0 auto;
	/* padding-left: calc(50% + (19% - 478.800px)); */
	padding-left: calc(50% - 275px);
	padding-right: 17px;
}

.sw_thumbContainer {
	display: flex;
	justify-content: center;

	/* padding-bottom: 10px; */
	margin-top: -140px;
	overflow: hidden;
}





.thumbSwiper {
	width: 100%;
	position: relative;
	display: block;
	overflow: visible !important;
}

.thumbSwiper::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 140%;
	height: 100%;
	top: 0;
	/* background: #fff; */
	background: linear-gradient(to right, rgb(238, 238, 238) 0%, rgba(255, 255, 255, 0) 100%);
	transform: skewX(-20deg);
	border-top: 1px solid #e6dada;
	border-bottom: 1px solid #e6dada;
}


.thumbSwiper .swiper-wrapper .swiper-slide {
	min-width: 33.33%;
	/* background: white; */
	padding: 20px;
	transform: skewX(-20deg);
}

.thumbSwiper .swiper-wrapper .swiper-slide:hoverx {
	box-shadow: 0 0 110px #00000063;
	background: white;
	border-color: transparent;
	/* z-index: 1; */
}

.thumbSwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
	border-color: transparent;
	background: white;

}

.thumbSwiper .swiper-wrapper .swiper-slide+* {
	border-left: 1px solid #e6dada;
}

.thumbSwiper .swiper-wrapper .swiper-slide>* {

	transform: skewX(20deg);
}

.thumbSwiper .swiper-wrapper .swiper-slide img {
	width: 100%;
	height: 100px;
	object-fit: contain;
}

.stickheader {
	width: 100%;
	display: flex;
	justify-content: center;

}

.sthd {
	max-width: 1360px;
	background-color: #fff;
	width: 100%;
	padding: 0px 20px;
	backdrop-filter: blur(20px);
}



.t-swiper .swiper-slide img {
	width: 100%;
	/* height: 100%; */
	object-fit: contain;
	height: 600px;
	padding: 0 100px;
}

.swiper-button-prev,
.swiper-button-next {
	width: 80px;
	height: 80px;
	/* background-color: #ffffffba; */
	font-weight: bolder;
	color: #2f2f2f;

	/* top: 0px; */
	transform: translateY(-12px);
}

.swiper-button-prev {
	left: 0;
}

.swiper-button-next {
	right: 0;
}

.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.bg-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-wrp {
	height: 100%;
	/* box-shadow: 0px 5px 10px -8px #00000085; */
	/* border: 1px solid #e4e4e4; */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}

.card-wrp figure {
	width: 100%;
	aspect-ratio: 4/2;
	margin: 0;
	padding: 20px 20px 0px 20px;
}

.card-wrp figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.card-wrp .card-body {
	/* padding: 0 1rem 1rem 1rem; */
	/* margin-top: -43px; */
	z-index: 1;
	display: block;
	position: relative;
	/* background: #f4f4f4; */
	/* clip-path: polygon(0% 0%, calc(100% - 20px) 0%, calc(100% - 20px) calc(0% + 20px), 100% calc(0% + 20px), 100% 100%, 0% 100%); */
	/* position: absolute; */
	/* bottom: 0; */
	/* left: 0; */
	padding: 20px 20px;
	/* backdrop-filter: blur(10px); */
	/* height: 50%; */
	/* aspect-ratio: 5/3; */
	/* width: 100%; */
}


.card-wrp .card-title {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 7px;
	/* background: #f09100; */
	/* padding: 0.5rem 1rem; */
	color: #f09100;
	/* border-bottom: 2px solid #f09100; */
	/* z-index: 1; */
	/* backdrop-filter: blur(12px); */
	/* margin-right: 20px; */
}

.card-wrp .card-description {
	font-size: 14px;
	font-weight: 400;
	color: #505050;
	/* padding: 0 1rem 1rem 1rem; */
}

.shine {
	width: 100%;
	height: 4px;
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
	filter: blur(2px);
	margin: -2px 0;
}

.prd-card {
	position: relative;
	/* border: 1px solid #868686; */
	/* background: linear-gradient(-28deg, rgba(217, 217, 217, 0.65) 0%, rgba(255, 255, 255, 0.16) 100%); */
	box-shadow: 0 4px 48px #0000001f;
	/* aspect-ratio: 3/2; */
	display: flex;
	flex-direction: column;
	backdrop-filter: blur(2px) saturate(1.3);
	/* border: 1px solid #e4e4e4; */
	padding: 24px;
}

.prd-card figure {
	position: relative;
	margin: 0;
	/* position: absolute; */
	/* left: 0; */
	/* width: 60%; */
	display: flex;
	justify-content: center;
}

.prd-card figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	max-width: 230px;
	/* margin: auto; */
	aspect-ratio: 1;
}

.prd-card .prd-desc {
	/* position: absolute; */
	/* bottom: 13px; */
	width: 100%;
	/* background: #3c3a36; */
	color: #f09100;
	font-weight: 600;
	/* LEFT: 10px; */
	font-size: 24px;
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.prd-card span {
	/* position: absolute; */
	bottom: 13px;
	width: 100%;
	/* padding: 4px 10px; */
	/* background: #3c3a36; */
	color: #f09100;
	font-weight: 500;
	font-size: 24px;
	/* background: linear-gradient(-28deg, rgb(240, 145, 0) 0%, rgb(255, 232, 197) 100%); */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
	text-align: center;
}


.collectwrapper {
	display: flex;
	/* overflow: hidden; */
	/* border-bottom: 1px solid #d8d8d8; */
	/* border-left: 1px solid #d8d8d8; */
	/* border-right: 1px solid #d8d8d8; */
	gap: 24px;
	padding: 80px 0px;
}


.collect-sec {

	position: relative;
	padding-top: 90px;

	background: linear-gradient(to bottom, rgb(233, 233, 233) 0%, rgb(255, 255, 255) 100%);
}

.collectwrapper .collect-col {
	position: relative;
	display: block;
	/* box-shadow: 0 4px 8px #00000029; */
	/* background: rgb(255, 255, 255); */
	/* flex: 0 0 33.33%; */
	width: 100%;
	/* margin: 0 0px; */
	box-shadow: 0px -12px 16px #00000003;
	/* border-radius: 32px; */
	background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.collectwrapper .collect {
	position: relative;
	display: flex;
	/* box-shadow: 0 4px 8px #00000029; */
	/* flex: 0 0 33.33%; */
	width: 100%;
	/* margin: 0 0px; */
	flex-direction: column;
	align-items: center;
	padding: 0px 20px 20px 30px;
}






.collectwrapper .collect i {
	color: #fff;
	/* width: 100%; */
	/* padding: 0px 30px; */
	text-align: center;
	font-size: 52px;
	line-height: 52px;
	/* font-weight: 600; */
	/* background: linear-gradient(to bottom, rgb(255, 205, 132) 0%, rgb(240, 145, 0) 100%); */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
	margin-bottom: 24px;
	/* outline: 1px solid #c9c9c9; */
	padding: 26px;
	/* border-radius: 21px; */
	background: #f09100;
	text-shadow: 1px 4px 4px #00000045;
	margin-top: -51px;
}

.w_map_cont {
	background: linear-gradient(to bottom, rgba(9, 0, 110, 0.78) 0%, rgb(6, 83, 164) 100%), url(../images/nato_background.jpg);
	background-size: cover;
	padding: 120px 0;
}

.w_map {
	/* background-color: #2e2e2e; */
	filter: drop-shadow(0 2px 4px #00000024);
	/* display: flex; */
	/* align-items: end; */
	justify-content: flex-end;
	height: 100%;
}

.w_map svg {
	width: 100%;
	stroke: #929292;
}

.w_map svg path {
	fill: white;
}

.w_map svg .fll {
	fill: #f09100;
}

.collectwrapper .collect span {
	color: #f09100;
	/* width: 100%; */

	text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 4px;
}


.collectwrapper .collect span:last-child {
	color: #9b9b9b;
	/* width: 100%; */

	text-align: center;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
}







.collectwrapper .collect figure img {
	display: block;
	width: 100%;
	aspect-ratio: 3/2;
}

.refbox {
	position: relative;
	/* border: 1px solid #868686; */
	background: white;
	box-shadow: 0 7px 16px #00000008;
	aspect-ratio: 5/3;
}

.refbox figure {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

.refbox figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}



.titleStyles {
	display: flex;
	width: 100%;
	margin-top: 120px;
	margin-bottom: 60px;
}

.titleStyles span {
	flex: 1 0 auto;
	display: inline-flex;

	align-items: center;
}

.titleStyles span::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #e4e4e4;
}

.titleStyles span:first-child:after {
	content: "";
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, rgba(228, 228, 228, 0) 0%, rgb(228, 228, 228) 100%);
}

.titleStyles span:last-child::after {
	content: "";
	width: 100%;
	height: 1px;
	background: linear-gradient(to left, rgba(228, 228, 228, 0) 0%, rgb(228, 228, 228) 100%);
}

.titleStyles span:nth-child(2) {
	flex: 0 0 auto;

}

.titleStyles span:nth-child(2)::after {
	content: unset;

}



.titleStyles h2 {
	flex: 0 0 auto;
	margin: 0px 20px;
	/* background: #fff; */
	/* padding: 6px 30px; */
	color: #f09100;
	/* box-shadow: 0px 5px 10px -8px #00000085; */
	font-weight: 600;
	letter-spacing: 0.6px;
	font-size: 36px;

}

.titleStyles.white h2 {

	/* background: #fff; */
	/* padding: 6px 30px; */
	color: white;


}

.swiper-slide .text {
	/* position: absolute; */
	/* padding-left: 190px; */
	/* background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); */
	/* padding-right: 50px; */
	/* padding: 20px 80px 20px 20px; */
	/* clip: rect; */
	/* clip-path: polygon(calc(0% + 39px) 0%, 100% 0%, calc(100% - 0px) 100%, 0% 100%); */
	/* width: calc(100% + 90px); */
	/* margin-left: 50%; */
	/* height: auto; */
	/* margin-right: 0px; */
	margin-left: -140px;
	transform: skew(-20deg) translateX(50px);
	
	/* border: 1px solid; */
	/* transform: translate; */
}

.swiper-slide .text .text_overlay {

	padding: 32px 220px 32px 0px;
}


.swiper-slide .text .text_overlay>* {

	transform: skew(0deg);
}

.swiper-slide .text::after {
	content: "";
	position: absolute;
	width: 120%;
	height: calc(100% + 6px);
	/* background: red; */
	top: -3px;
	left: 0;
	/* box-shadow: 0 0 70px 0 black; */
	z-index: -1;
	/* left: 200px; */
	
	
}

.swiper-slide .text .sl_head  {
	display: block;
	color: #f09100;
	font-weight: 600;
	font-size: 52px;
}
.swiper-slide .text .sl_head div {
	display: inline;
}
.swiper-slide .text .sl_text  {
	display: block;
	color: #2f2f2f;
	font-weight: 400;
	font-size: 16px;
	transform: skew(20deg);
	margin-left: 20px;
}
.swiper-slide .text .sl_text div {
	display: inline;
	overflow: hidden;
}
.swiper-slide .text .sl_head div span {
	transition: all ease-in-out .3s;
	
}
.swiper-slide .text .sl_text div span {
	transition: all ease-in-out .3s;
	
}
.swiper-slide .text .sl_text div.hide span {
	opacity: 0;
	transition: all ease-in-out 0s;
}
.swiper-slide .text .sl_head div.hide span {
	opacity: 0;
	transition: all ease-in-out 0s;
}
.slider-cell {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: hidden;
	height: 630px;
}



.slider-cell .s-img {
	width: 50%;
	/* height: 100%; */
	/* object-fit: cover; */
	/* max-width: 190%; */
	/* clip-path: polygon(calc(0% + 0px) 0%, 100% 0%, calc(100% - 100px) 100%, 0% 100%); */
	/* height: 480px; */
}
.slider-cell .s-vec {
	width: 50%;
	height: 100%;
	transform: skew(-20deg);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(236, 146, 5) 100%);
	left: -200px;
	display: flex;
	position: relative;
	justify-content: flex-end;
	overflow: hidden;
	align-items: center;
}
.slider-cell .s-vec svg {
	/* width: 60%; */
	height: 480px;
	
	/* background: #ff030347; */
	right: -240px;
	/* display: block; */
	position: relative;
	/* top: 50px; */
}
.slider-cell .s-vec svg#plane {
	
	transform: skew(20deg) rotateZ(20deg);
	
}
.slider-cell .s-vec svg#tank {
	
	transform: skew(20deg) rotateZ(0deg);
	
}
.slider-cell .s-vec svg#warship {
	
	transform: skew(20deg) rotateZ(0deg);
	
}
.slider-cell .s-vec svg#plane * {
	stroke-width: 0.5px;
	stroke: white;
	stroke-dasharray: 1420;
	stroke-dashoffset: -1240;
	
	transition: all ease-in-out 2s;
}
.slider-cell .s-vec svg#tank * {
	stroke-width: 0.2px;
	stroke: white;
	stroke-dasharray: 400;
	stroke-dashoffset: -400;
	fill: transparent;
	
	transition: all ease-in-out 2s;
}
.slider-cell .s-vec svg#warship * {
	stroke-width: 0.2px;
	stroke: white;
	stroke-dasharray: 940;
	stroke-dashoffset: -940;
	fill: transparent;
	
	transition: all ease-in-out 2s;
}
.swiper-slide-active .slider-cell .s-vec svg#plane * {

	stroke-dashoffset: 0;
}
.swiper-slide-active .slider-cell .s-vec svg#tank * {

	stroke-dashoffset: 0;
}
.swiper-slide-active .slider-cell .s-vec svg#warship * {

	stroke-dashoffset: 0;
}
.slider-cell .s-text {
	width: 50%;
	/* height: 0; */
	/* object-fit: cover; */
	/* max-width: 50%; */
	/* clip-path: polygon(calc(0% + 0px) 0%, 100% 0%, calc(100% - 100px) 100%, 0% 100%); */
	/* height: 480px; */
	display: flex;
	/* justify-content: flex-start; */
	/* margin-left: 110px; */
	/* transform: translateY(-50%); */
	/* position: absolute; */
	top: 50%;
	align-items: center;
	left: 0;
}

.wm_st {
	height: 100%;
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
}

.st_crd {
	background-color: #00000029;
	/* flex: 0 0 25%; */
	/* width: calc(50% - 1px); */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* outline: 1px solid #0650a2; */
	padding: 40px;
}

.st_crd span {
	display: block;
	/* color: #f09100; */
	/* font-weight: 400; */
	/* font-size: 21px; */
	/* text-align: center; */
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}

.mv-section {
	background: white;
}

.mv-section h4 {
	color: #555252;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 22px;
}

.mv-section p {
	color: #807c7c;
	font-weight: 400;
	font-size: 14px;
}

.about-section .about_back {
	position: absolute;
	top: 0;
	left: -70px;
	/* background: red; */
	width: calc(calc(100vw/2 - 1320px/8) + 15px);
	height: 100%;
	/* z-index: -1; */
	transform: skew(-20deg);
	overflow: hidden;
	background: #0a0a0c;
}

.about-section {
	position: relative;
	background: white;
}

.inner_img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	margin-top: 30px;
	padding-right: 30px;
}

.history_text {
	font-family: "Tangerine", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	text-align: center;
}

.services {
	position: relative;
	background: linear-gradient(to bottom, rgb(240, 145, 0) 0%, rgb(218, 134, 7) 100%);
}

.services .titleStyles h2 {

	color: white;
	/* box-shadow: 0px 5px 10px -8px #00000085; */

}

.services::before {
	content: "";
	background: url(../images/asset_1.png);
	background-size: cover;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 400px;
	/* height: 420px; */
	aspect-ratio: 1;
}

.services::after {
	content: "";
	background: url(../images/asset_1.png);
	background-size: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	/* height: 420px; */
	aspect-ratio: 1;
	transform: rotateZ(180deg);
}

.s-card {
	/* background: linear-gradient(to bottom, rgb(246, 246, 246) 0%, rgb(239, 239, 239) 100%); */
	display: flex;
	/* border: 1px solid black; */
	/* padding: 24px; */
	box-shadow: 0 7px 16px #00000008;
	background: white;
	height: 100%;
}

.s-card i {
	color: #fff;
	font-weight: 400;
	font-size: 26px;
	/* flex: 0 0 39px; */
	background: #f09100;
	padding: 24px;
	display: none;
}

.s-card .inline-desc {
	display: block;
	padding: 24px;
}

.s-card .inline-desc span:first-child {
	display: block;
	color: #f09100;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 12px;
}

.s-card .inline-desc ul {
	margin: 0;
	/* padding: 0; */
	padding-left: 13px;
}

.s-card .inline-desc ul li {

	color: #807c7c;
	font-weight: 400;
	font-size: 14px;
}

.style-image {
	margin-bottom: 120px;
}

.style-image img {
	height: calc(100% + 40px) !important;
}

.p-card {
	position: relative;

	display: flex;

	height: 100%;

}

.p-card figure {
	/* background: linear-gradient(to bottom, rgb(246, 246, 246) 0%, rgb(239, 239, 239) 100%); */
	display: block;
	/* border: 1px solid black; */
	/* padding: 24px; */
	/* position: absolute; */
	margin: 0;
	width: 100%;
	left: 0;
	top: 0;
	aspect-ratio: 1/1;
	/* height: 100%; */
	height: 360px;
	margin-top: 40px;
}

.p-card figure img {
	/* background: linear-gradient(to bottom, rgb(246, 246, 246) 0%, rgb(239, 239, 239) 100%); */
	display: block;
	/* border: 1px solid black; */
	/* padding: 24px; */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.p-card .inline-desc {
	display: block;
	padding: 24px;
	z-index: 1;
	box-shadow: 0 7px 16px #00000008;
	/* background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.81) 100%); */
	/* margin: 260px 0px 0px 50px; */
	width: 100%;
	/* min-height: 210px; */

	position: absolute;
	/* margin-top: 30px; */
	height: 100%;
	transform: skew(0deg);
	/* clip-path: polygon(20% 00%, 100% 0%, 100% 100%, 0% 100%); */
	/* padding-left: 120px; */
	background: white;
	/* margin-right: 50px; */
}

.p-d {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: calc(100% - 64px);
	background: #fff;
	padding: 20px;
	/* backdrop-filter: blur(500px) saturate(3); */
}

.pos-left .p-d {
	margin-left: 64px;
	background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(239, 239, 239, 0.76) 100%);
}

.pos-right .p-d {
	margin-right: 64px;
	background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(239, 239, 239, 0.76) 100%);
}

.p-card .inline-desc>* {
	transform: skew(0deg);
}



.p-card .inline-desc h6 {
	display: block;

	margin-top: 16px;
	color: #f09100;
	font-weight: 500;
	font-size: 18px;
}

.p-card .inline-desc ul {
	margin: 0;
	padding-left: 13px;
}

.p-card .inline-desc ul li {

	color: #6e6e6e;
	font-weight: 400;
	font-size: 14px;
}

.bg-dark .titleStyles h2 {

	color: white;


}


.test-des .left-container {
	position: relative;
}

.test-des .left-container img,
.test-des .right-container img {
	width: 100%;
	max-height: 400px;
	object-fit: contain;
}

.p-page {
	position: relative;
	padding: 100px 0;
}

.p-page .skewelem {
	position: absolute;
	content: "";
	width: 50%;
	height: 100%;
	top: 0;
	bottom: 0;

	background-color: red !important;
}

.p-page.tl .skewelem {
	transform: skew(-14deg);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(236, 146, 5) 100%);

	width: calc(50% * var(--sin) + 50%);
}

.p-page.tr .skewelem {
	transform: skew(-14deg);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(236, 146, 5) 100%);
	width: calc(50% * var(--sin) + 50%);
}

.p-page.tl .skewelem {
	left: calc(calc(100% * var(--sin))* -1 / 2);
}

.p-page.tr .skewelem {
	right: calc(calc(100% * var(--sin))* -1 / 2);
}

.c-card {

	position: relative;
	/* border: 1px solid #868686; */
	/* background: linear-gradient(-28deg, rgba(217, 217, 217, 0.65) 0%, rgba(255, 255, 255, 0.16) 100%); */
	box-shadow: 0 4px 48px #0000001f;
	/* aspect-ratio: 3/2; */
	display: flex;
	flex-direction: column;
	background: white;
	/* border: 1px solid #e4e4e4; */
	padding: 24px;

}

.c-card img {
	display: block;
	width: 100%;


}

.test-des .left-container .skw {}

.test-des .right-container {
	position: relative;
}

.test-des .right-container .skw {}

footer {
	background-color: #2d2c2a;
}

footer .container {
	padding-top: 40px;
	background-color: #2d2c2a;

}

footer .footer-row {
	width: calc(50% * var(--sin) + 50% + calc(50% * var(--sin) * 1/2));
	display: flex;
	gap: 24px;
}

footer .footer-col {
	display: block;
	flex: 1 0 auto;
}

footer .footer-row .footer-col {
	display: block;
}

footer .footer-row .footer-col h4 {
	display: block;
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 16px;
}

footer .footer-row .footer-col ul {
	display: block;
	padding: 0;
	margin: 0;
}

footer .footer-row .footer-col ul li {
	display: block;
}

footer .footer-row .footer-col ul li a {
	display: block;
	color: #9a9a9a;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

footer .footer-row .footer-col ul li a:hover {
	color: white;
}

footer .footer-row .footer-col ul li+li {
	margin-top: 12px;
}

footer .logo {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

footer .logo img.site_logo {
	display: block;
	/* width: 42px; */
	height: auto;
	
}

footer .logo span {
	display: block;
	margin-left: 8px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	color: white;
}

.footer-socials-links {
	display: flex;
	margin-top: 26px;
	gap: 16px;
}

.footer-socials-links a {
	display: inline-flex;
	width: auto;
	height: 18px;
	align-items: center;
	justify-content: center;
}

footer .footer-bottom {
	display: flex;
	margin-top: 40px;
	border-top: 1px solid #313238;
	padding: 24px 24px;
	margin-left: -12px;
	margin-right: -12px;
	background-color: #1f1f1f;
}

footer .footer-bottom .left-col {
	display: block;
	flex: 0 0 auto;
}

footer .footer-bottom .right-col {
	display: flex;
	flex: 1 0 auto;
	justify-content: flex-end;
}

footer .footer-bottom .right-col ul {
	display: flex;
	gap: 12px;
	margin: 0;
	padding: 0;
}

footer .footer-bottom .right-col ul li {
	display: block;

}

footer .footer-bottom .right-col ul li a {
	display: block;
	color: #9a9a9a;

	font-size: 13px;
}

footer .footer-bottom p {
	display: block;
	color: white;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
	text-align: center;
}

footer .contact {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

footer .contact .cont-cell {
	display: flex;
}

footer .contact .cont-cell .c_icon {
	flex: 0 0 auto;
	margin-right: 12px;

}

footer .contact .cont-cell .c_icon span {
	color: #f09100;
	font-size: 21px;
	line-height: 21px;
}

footer .contact .cont-cell .c_text {
	flex: 1 0 auto;
}

footer .contact .cont-cell .c_text span {
	font-size: 14px;
	font-weight: 300;
	color: white;
	display: block;
}


.slider-svg {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.slider-svg::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.61) 100%);
}

.slider-svg svg {
	height: 70%;
	/* transform: translateX(0px); */
}

.slider-svg svg .st5 {
	opacity: 0.7;
}

.slider-svg svg .st6 {
	fill: #B4B4B4;
}

.slider-svg svg .st7 {
	fill: #EFA128;
}

#map {
	height: 400px;
	box-shadow: 0 7px 16px #00000008;
}

.map-container {
	background: #e3e3e3;
	padding: 0;
	overflow: hidden;
}

.map-info {
	display: flex;
	background-color: white;
	height: 100%;
	flex-direction: column;
	padding: 24px;
	box-shadow: 0 7px 16px #00000008;
}

.map-info .logo {
	flex: 0 0 auto;
	margin-bottom: 24px;
}

.map-info .contact {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	gap: 12px;
}

.map-info .contact .cont-cell {
	display: flex;
}

.map-info .contact .cont-cell .c_icon {
	flex: 0 0 auto;
	margin-right: 12px;
}

.map-info .contact .cont-cell .c_icon span {
	color: #f09100;
	font-size: 21px;
	line-height: 21px;
}

.map-info .contact .cont-cell .c_text {
	flex: 1 0 auto;
}

.map-info .contact .cont-cell .c_text span {
	font-size: 14px;
	font-weight: 300;
	color: #6e6e6e;
	display: block;
}

.c_pin {
	background: white;
	padding: 10px;
	filter: drop-shadow(0 0 12px #00000052);
	border-radius: 9px;
	top: -26px;
	display: block;
	position: relative;
	text-align: center;
}

.c_pin::after {
	content: "";
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	bottom: -14px;
	left: calc(50% - 7px);
	border: 7px solid white;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.c_pin img {
	width: 100%;
	max-width: 60px;
}

.p-img {
	display: flex;
	width: 100%;
	justify-content: center;
}

.p-img img {
	display: block;
	width: 100%;
	max-height: 200px;
}

.p-text {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.p-text h6 {
	color: #f09100;
}

.p-text p {
	color: #6e6e6e;

}
#langselect + .select2-container {
	width: auto !important;
	 outline: 1px solid; 
	padding: 0 16px;
}
.select2-container .select2-selection--single {
	display: flex !important;
	height: 66px !important;
	align-items: center;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0 !important;
	padding-right: 0 !important;
	
}
.select2-container .select2-selection--single .select2-selection__rendered .select-icon img {
	height: 18px;
}
.select2-selection__arrow{
	display: none;
}
.select2-container .select2-selection--single .select2-selection__rendered .select-icon ._img{
	margin-right: 5px;
}

.select2-container .select2-selection--single .select2-selection__rendered .select-icon ._text{
	
	font-size: 15px;
	font-weight: 500;
	
}
.select2-results .select-icon ._img img{
	height: 18px;
}
.select2-results .select-icon ._text{
	
	font-size: 15px;
	font-weight: 500;
}
@media (max-width:991px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}