html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6e6e6e;
}

a {
    color: #212229;
    text-decoration: none;
}

.r_btn {
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    color: #bfef4b;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 2px solid #bfef4b;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 50px;
}

.r_btn.fill {
    color: #003d47;
    border: 2px solid #bfef4b;
    background-color: #bfef4b;
}

.r_btn:hover {
    background-color: #bfef4b;
    color: #00262d;
}

.r_btn.sec {
    color: #fff;
    border: 2px solid #7460e6;
    background-color: #7460e6;
}

.r_btn.sec:hover {
    background-color: #fff;
    color: #7460e6;
}

.r_btn.fill:hover {
    background-color: #bfef4b00;
    color: #bfef4b;
}

.slider {
    position: relative;
    background: linear-gradient(to left,
            rgb(116, 96, 230) 0%,
            rgb(68, 52, 156) 100%);
    padding: 200px 0px 120px 0;
}

.slider .i-frame {
    height: 450px;
}

.slider .i-frame.w380 {
    display: flex;
    justify-content: center;
}

.slider .i-frame.w380 img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 380px;
    -webkit-object-fit: contain;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-object-position: center;
    -o-object-position: center;
    object-position: center;
}

.slider .i-frame img {
    display: block;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    z-index: 1;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    backdrop-filter: blur(20px);
    height: 80px;
    transition: all ease-in-out 0.2s;
}

header.scroll {
    border-bottom: 1px solid #7460e6;
    background-color: white;
}

.video_collect {
    display: block;
}

.video_collect figure {
    display: block;
    margin: 0;
}

.video_collect figure video {
    width: 100%;
}

.v-frame {
    height: 450px;
    display: flex;
    align-items: center;
}

.v-frame.w620 {
    height: 620px;
}

.__video {
    justify-content: end;
}

.__video video {
    width: auto;
    height: 100%;
}

.v-frame iframe {
    width: 100%;
}

.header-top {
    background-color: #f09100;
}

.ht-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: -24px;
}

.ht-wrapper .flags {
    background-color: #ffffff59;
    padding: 6px;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a.logo {
    display: flex;
    height: 100%;
    align-items: center;
    height: 80px;
}

a.logo span {
    display: flex;
    height: 100%;
    align-items: center;
    height: 66px;
    color: #6e6e6e;
    font-size: 21px;
    margin-left: 5px;
    letter-spacing: 0.2em;
}

header a.logo span {
    color: white;
}

header.scroll a.logo span {
    color: #6e6e6e;
}

.h_nav {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: end;
}

.h_nav>li {
    display: block;
}

.h_nav li:hover>a {
    background-color: #bfef4b;
    color: #5140b0 !important;
}

header.scroll .h_nav li:hover>a {
    background-color: #7460e6;
    color: white !important;
}

.h_nav li.active:hover>a {
    background-color: #bfef4b;
    color: #5140b0 !important;
}

header.scroll .h_nav li.active:hover>a {
    background-color: #7460e6;
    color: white !important;
}

.h_nav>li>a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 0 16px;
    line-height: 80px;
}

header .h_nav>li>a {
    color: white;
}

header.scroll .h_nav>li.active>a {
    color: #6d59db !important;
}

header .h_nav>li.active>a {
    color: #bfef4b !important;
}

header.scroll .h_nav>li>a {
    color: #6e6e6e;
}

.product-sect {
    position: relative;
    background-color: #bfef4b;
    padding: 60px 0;
}

.product-sect2 {
    background-color: #f6f5f7;
}

.product-sect5 {
    background-color: #e8f3f9;
}

.product-sect4 {
    background: linear-gradient(to left,
            rgb(116, 96, 230) 0%,
            rgb(68, 52, 156) 100%);
}

.contact_container {
    display: flex;
    align-items: center;
}

.contact_container .cnt_text {
    flex: 1;
    padding-right: 80px;
}

.contact_container .cnt_text h4 {
    color: #fff;
    font-size: 42px;
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 4px #0000006b;
}

.mb-120 {
    margin-bottom: 60px;
}

.mt-120 {
    margin-top: 60px;
}

main section {
    padding: 120px 0;
}

footer {
    background-color: #2d2c2a;
}

footer .container {
    padding-top: 40px;
    background-color: #2d2c2a;
}

footer .footer-row {
    width: 100%;

    display: flex;
    gap: 24px;
}

footer .footer-col {
    display: block;
    flex: 1 0 auto;
}

footer .footer-col.flx-1 {
    flex: 1;
}

footer .footer-col.flx-2 {
    flex: 2;
}

footer .footer-row .footer-col {
    display: block;
}

footer .footer-row .footer-col h4 {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

footer .contact h4 {
    margin-bottom: 8px !important;
}

footer .footer-row .footer-col ul {
    display: block;
    padding: 0;
    margin: 0;
}

footer .footer-row .footer-col ul li {
    display: block;
}

footer .footer-row .footer-col ul li a {
    display: block;
    color: #9a9a9a;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

footer .footer-row .footer-col ul li a:hover {
    color: white;
}

footer .footer-row .footer-col ul li+li {
    margin-top: 12px;
}

footer .logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

footer .logo img.site_logo {
    display: block;
    height: auto;
}

footer .logo span {
    display: flex;
    height: 100%;
    align-items: center;
    height: 66px;
    color: white;
    font-size: 21px;
    margin-left: 5px;
    letter-spacing: 0.2em;
}

.footer-socials-links {
    display: flex;
    margin-top: 26px;
    gap: 16px;
}

.footer-socials-links a {
    display: inline-flex;
    width: auto;
    height: 18px;
    align-items: center;
    justify-content: center;
}

footer .footer-bottom {
    display: flex;
    margin-top: 40px;
    border-top: 1px solid #313238;
    padding: 24px 24px;
    margin-left: -12px;
    margin-right: -12px;
    background-color: #1f1f1f;
}

footer .footer-bottom .left-col {
    display: block;
    flex: 0 0 auto;
}

footer .footer-bottom .right-col {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
}

footer .footer-bottom .right-col ul {
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
}

footer .footer-bottom .right-col ul li {
    display: block;
}

footer .footer-bottom .right-col ul li a {
    display: block;
    color: #9a9a9a;
    font-size: 13px;
}

footer .footer-bottom p {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    text-align: center;
}

footer .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer .contact .cont-cell {
    display: flex;
}

footer .contact .cont-cell .c_icon {
    flex: 0 0 auto;
    margin-right: 12px;
}

footer .contact .cont-cell .c_icon span {
    color: #f09100;
    font-size: 21px;
    line-height: 21px;
}

footer .contact .cont-cell .c_text {
    flex: 1 0 auto;
}

footer .contact .cont-cell .c_text span {
    font-size: 14px;
    font-weight: 300;
    color: white;
    display: block;
}

footer .contact .cont-cell .c_text span a {
    font-size: 14px;
    font-weight: 300;
    color: white;
    display: block;
}

.fst-italic {
    font-style: italic !important;
    font-size: 13px !important;
    color: #a0a0a0 !important;
}

.sl-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.sl-text h1 {
    font-size: 42px;
    color: #bfef4b;
    margin-bottom: 22px;
}

.sl-text p {
    font-size: 16px;
    color: #f1eeff;
    margin-bottom: 22px;
}

.cards_area {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.page_banner {
    background: linear-gradient(to left,
            rgb(116, 96, 230) 0%,
            rgb(68, 52, 156) 100%);
    padding: 140px 0 50px 0;
}

.page {
    padding: 60px 0px;
}

.page h2 {
    font-size: 27px;
    color: #7460e6;
    margin-bottom: 24px;
}

.page p {
    font-size: 16px;
}

.page_banner .p_title {
    display: flex;
}

.page_banner .p_title h1 {
    display: block;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px #0000006b;
}

.inner_card {
    display: flex;
    background: #7460e6;
    padding: 20px;
    box-shadow: 0 8px 16px 0 #00000014;
    flex-direction: column;
    border-radius: 20px;
    height: 100%;
    margin: 0px 20px;
}

.inner_card .card_logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inner_card .card_logo figure {
    display: flex;
    background: #f3f3f3;
    width: 100px;
    height: 100px;
    box-shadow: 0 8px 16px 0 #00000014;
    padding: 20px;
    border-radius: 50%;
    align-items: center;
    margin-bottom: 22px;
}

.inner_card .card_logo img {
    display: block;
    width: 100%;
}

.inner_card .card_cont {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    padding-left: 20px;
}

.inner_card .card_cont span {
    font-size: 18px;
    margin: 0;
    color: #f3f3f3;
    display: block;
    font-weight: 600;
    margin-bottom: 12px;
}

.inner_card .card_cont p {
    font-size: 14px;
    margin: 0;
    color: #f1eeff;
}

.feat_box_cont {
    display: flex;
    flex-wrap: wrap;
}

.sec_image {
    display: block;
}

.sec_image img {
    width: 100%;
    display: block;
}

.sec_image img.w600 {
    max-width: 600px;
    height: auto;
}

._text_note {
    margin-bottom: 12px !important;
}

span.wrng {
    display: inline-block !important;
    color: red !important;
    font-size: 14px !important;
    margin: 0 !important;
}

span.rght {
    display: inline-block !important;
    color: #06a83e !important;
    font-size: 14px !important;
    margin: 0 !important;
}

.cheklists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cheklists .c_list {
    display: flex;
    max-width: 510px;
    align-items: flex-start;
    margin-bottom: 20px;
    background: #eeffe0;
    box-shadow: 4px 4px 0 #e0e0e0;
    padding: 20px;
    border-radius: 8px;
}

.cheklists .c_list img {
    display: block;
    width: 24px;
}

.cheklists .c_list span {
    padding-left: 10px;
    font-weight: 500;
}

.f_box {
    display: flex;
    background: #fff;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 #00000014;
    height: 100%;
    flex-direction: column;
}

.b_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.img_circle {
    display: block;
    width: auto;
    height: 120px;
    padding: 20px;
}

.img_circle img {
    display: block;
    width: auto;
    height: 100%;
}

.contact_link {
    text-decoration: underline;
}

.ref_area {
    margin: 60px 0;
}

.logo_ref_area {
    display: flex;
    background: #f8f8f8;
    padding: 24px;
    border-radius: 20px;
    flex-direction: column;
}

.logo_ref_area img {
    filter: contrast(1) brightness(0);
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.b_text {
    display: block;
    padding-left: 20px;
}

.b_text span {
    display: block;
    font-size: 18px;
    color: #7460e6;
    margin-bottom: 10px;
    font-weight: 400;
}

.b_text p {
    display: block;
    margin: 0;
    color: #697173;
    font-size: 14px;
}

.h6_title {
    font-size: 24px;
    color: #7460e6;
    font-weight: 400;
    margin-bottom: 24px;
}

.h4_title {
    font-size: 48px;
    color: #003d47;
    font-weight: 600;
    margin-bottom: 24px;
}

.p_text {
    font-size: 16px;
}

.p_text .text_inner_head {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #7460e6;
}

.p_text .text_overlay {
    font-size: 14px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-42 {
    margin-bottom: 42px;
}

.social_links {
    display: block;
}

.social_links a {
    display: flex;
    font-size: 20px;
    color: #f09100;
    line-height: 30px;
    vertical-align: super;
    margin-bottom: 12px;
}

.social_links a span {
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin-left: 14px;
}

.mobile-nav {
    display: none;
}

.mobile-nav .nav_button {
    line-height: 80px;
    font-size: 30px;
    color: white;
}

header.scroll .mobile-nav .nav_button {
    color: #6e6e6e;
}

.nav_list {
    position: absolute;
    top: 80px;
    width: 100%;
    background: #ffffffc4;
    height: calc(100vh - 80px);
    left: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    transition: all ease-in-out 0.3s;
    opacity: 0;
}

.nav_list ul {
    margin: 41px 0;
    padding: 0;
}

.nav_list ul li {
    display: block;
    padding: 14px 20px;
    background: #ffffff69;
    border-radius: 30px;
    margin-bottom: 14px;
    box-shadow: 0 2px 5px #00000012;
}

.nav_list ul li a {
    display: block;
}

.nav_list.active {
    left: 0%;
    opacity: 1;
}

.nav-content {
    display: block;
    flex: 1;
}

.nav-footer {
    height: 70px;
    background: #ffffff4f;
}

.nav-footer span {
    line-height: 70px;
    margin-left: 80px;
}

@media (max-width: 1200px) {
    .mobile-nav {
        display: block;
    }

    .h_nav {
        display: none;
    }
}

@media (max-width: 991px) {
    .d-m-none {
        display: none;
    }
}

@media (max-width: 768px) {
    .o-1 {
        order: 1;
    }

    .o-2 {
        order: 2;
    }

    .slider {
        padding: 120px 0px 120px 0;
    }

    .h4_title {
        font-size: 30px;
    }

    .v-frame.w620 {
        height: 410px;
    }

    .__video {
        justify-content: center;
        margin-bottom: 42px;
    }

    .contact_container {
        flex-direction: column;
        align-items: baseline;
        gap: 54px;
    }

    .contact_container .cnt_text h4 {
        font-size: 27px;
    }

    footer .footer-row {
        flex-wrap: wrap;
    }

    footer .footer-row .footer-col {
        width: 100%;
        flex: 0 0 auto;
    }

    footer .footer-bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .footer-bottom .right-col {
        justify-content: center;
    }

    footer .contact .cont-cell .c_text span {
        display: inline;
    }
}

